body{
    margin :0%;
}
a {
    text-decoration: none;
    color : inherit;
}
.upbar{
    display : flex;
    justify-content : space-between;
    align-items: center;
    width : 100%;
    border-bottom : 3px solid black;
    height : 70px;
    background-color: lavender; 
    font-size : large;
}
.site_name{

    line-height : 22px;
    z-index: 3;
}
.container{
    display : flex;
    justify-content: flex-end ;
}
form{
    display : flex;
    width : 350px;
    height : 40px;
}
form input{
    flex : 1;
    border : none;
    outline : none;
}
form button{
    padding: 10px 50px;
    border : none;
    outline : none;
    letter-spacing: 1px;
    cursor: pointer;
}
form .fa-solid fa-magnifying-glass{
    align-self: center;
    padding : 10px 20px;
}
.search_bar{
    padding : 0.3em;
    display : inline-block;
    border : 2px solid;
    border-radius: 2.5em;
    margin : 5px;
}

.text {
    position: relative;
    text-align: center;
    font-size : 40px;
    z-index : 3;
    user-select: none;
}
h4{
    padding-left : 15vh;
}
.top_10{
    padding-left: 15vh;
    width : 170vh;
    display : flex;
    flex-wrap : wrap;
    justify-content:space-between ;
}
img{
    border-radius: 20px;
    width : 200px;
    height : 200px;

}




