@charset "UTF-8";
body{
    margin : 0;
}
#header p{
    font-size : 20px;
    font-family : 'gowun Dodum', sans-serif;
    margin-top : 50px;
    margin-bottom :2%;
}
.upbar{
    display : flex;
    justify-content : space-between;
    align-items: center;
    width : 100%;
    border-bottom : 3px solid black;
    height : 70px;
    background-color: lavender; 
    font-size : large;
}
.site_name{
    line-height: 22px;
}
p{
    text-align: center;
}
a {
    text-decoration: none;
    color : inherit;
}
.hide{
    display : none;
}
fieldset{
    height : 45px;
    width : 400px;
}

.box{
    display : flex;
    justify-content: center;
}