.upbar{
    width : 100%;
    border-bottom : 3px solid black;
    height : 26px;
}
.site_name {
    position : relative;
    top  : -50px;
    left : 70px;
}
.log_area {
    position : relative;
    border :2px solid black; padding : 10px;
    width : 300px;
    height :300px;
    left : 600px;
    top : -70px;
}
.log_title{
    font-size : 50px;
    text-align : center;
}
#input-log_id {
    height : 30px;  padding : 5px;
}
#input-log_pw {
    height : 30px;  padding : 5px;
}
.screen_id {
    padding : 4.5px;
}
.member {
    position : relative;
    left : 600px;
    top : -70px;
}
.info {
    position : relative;
    left : 900px;
}
.join {
    float : left;
    position : relative;
    left  :500px;
}
a {
    text-decoration: none;
    color : inherit;
}