.to_login{
    float : right;
    position : relative;
    padding-right :100px;
    top : 15px; 
}
.upbar{
    width : 100%;
    border-bottom : 3px solid black;
    height : 50px;
    background-color: lavender; 
}
a {
    text-decoration: none;
    color : inherit;
}
.to_useguide {
    float : left; 
    position : relative;
    padding-left : 200px;
    top : 15px;   
}
.to_join {
    float : right;
    position : relative;
    padding-right : 235px;
    top : 15px;
}
.to_review {
    float : right;
    position  : relative;
    padding-right : 203px;
    top : 15px;    
}
.write_review {
    float : left;
    position : relative;
    padding-left : 203px;
    top : 15px;
}
body{
    margin :0%;
}
.container{
    width : 100%;
    margin : 10px, auto;
    position : relative
}
.image {
    position : relative;
    vertical-align: center;
    left : 15%;
    width  :100%;
}
.text {
    position : absolute;
    text-align: center;
    color : skyblue;
    font-size : 40px;
    top : 35%;
    left : 30%;

}