h1{
    text-align: center;
}
.upbar{
    display : flex;
    justify-content : space-between;
    align-items: center;
    width : 100%;
    border-bottom : 3px solid black;
    height : 70px;

    font-size : large;
}
.site_name{
    line-height : 22px;
    z-index : 3;
}

.area{
    margin-top : 70%;
}
ol{
    margin-top: 20px;
}
ul{
    font-weight: 700;
    
}
body{
    margin : 0%;
}
a {
    text-decoration: none;
    color : inherit;
}
.container{
    display : flex;
    flex-direction : row;
    justify-content: space-evenly;
    flex-wrap : wrap;
    margin : 10vh;
}
.container img {
    border-radius: 20px;
}