h1{
    text-align: center;
}
.upbar{
    display : flex;
    justify-content : space-between;
    align-items: center;
    width : 100%;
    border-bottom : 3px solid black;
    height : 70px;
    background-color: lavender; 
    font-size : large;
}
.site_name{
    line-height : 22px;
    z-index : 3;
}
body{
    margin : 0%;
}
a {
    text-decoration: none;
    color : inherit;
}
.container{
    display : flex;
    flex-direction : row;
    justify-content: space-evenly;
    flex-wrap : wrap;
}
.container img {
    border-radius: 20px;
}
