h1{
    text-align : center;
}
a {
    text-decoration: none;
    color : inherit;
}
.container{
    position : relative;
    border :2px solid black; padding : 10px;
    width : 500px;
    height :500px;
    left : 500px;
    top : -70px;
}
.upbar{
    width : 100%;
    border-bottom : 3px solid black;
    height : 50px;
    background-color: lavender; 
}
body{
    margin :0%;
}
.to_join {
    float : right;
    position : relative;
    padding-right : 235px;
    top : 15px;
}
.to_useguide {
    float : left; 
    position : relative;
    padding-left : 200px;   
    top : 15px;
}
#area { 
    position : relative;
    top: 20%;
    left: 40%;
}
#food{
    position: relative;
    top: 25%;
    left: 22.5%;
}
#myform{
    position: relative;
    top: 10%;
    left:25%;
}
#myform fieldset {
    display  : inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border  :0;
}
#myform input[type="radio"] {
    display : none;
}
#myform label {
    font-size  :1em;
     color : transparent;  /*기존 이모지의 색깔 제거 */
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 yellow;
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 yellow; 
}
#myform fieldset{
    display: inline-block; 
    direction: rtl; /* 이모지 순서 반전 , (right to left) */
    border: 0;
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 yellow; /* 마우스 클릭 체크 */
}
.submit{
    background-color: aquamarine;
    position: relative;
    left : 37%;
    top: 20%;
}

#myform label {
    margin : -7px;
}
.site_name{
    position : relative;
    left : 5%;
    top : 20px;
}