 h1{
    text-align : center;
}
a {
    text-decoration: none;
    color : inherit;
}
body{
    margin : 0;
}
.container{
    display : flex;
    flex-direction: column;
    align-items: center;
    border :2px solid black; padding : 10px;
    width : 500px;
    height :500px;
    margin : 0 auto;
}
form{
    display : flex;
    align-items : center;
    flex-direction: column;
    margin : 7px;
}
form select{
    margin : 1.5px;
}
form picture{
    margin : 1.5px;
}

.upbar{
        display : flex;
        justify-content : space-between;
        align-items: center;
        width : 100%;
        border-bottom : 3px solid black;
        height : 70px;
        background-color: lavender; 
        font-size : large; 
}
.site_name{
    line-height : 22px;
    z-index: 3;
}
.picture input[type=file]{
    width : 10vh;
}
#myform fieldset {
    display  : inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border  :0;
}
#myform input[type="radio"] {
    display : none;
}
#myform label {
    font-size  :1em;
     color : transparent;  /*기존 이모지의 색깔 제거 */
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 yellow;
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 yellow; 
}
#myform fieldset{
    display: inline-block; 
    direction: rtl; /* 이모지 순서 반전 , (right to left) */
    border: 0;
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 yellow; /* 마우스 클릭 체크 */
}
.submit{
    background-color: aquamarine;
}

#myform label {
    position: relative;
    left : -25%;
    margin : -7px;

}
